{% extends "home/base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block link_home %}/#hero{% endblock %}
{% block link_about %}/#about{% endblock %}
{% block link_contact %}/#contact{% endblock %}
{% block link_getstarted %}/#about{% endblock %}

{% block main %}

<main id="main" style="padding-top: 16px;">

  {% if title == "ATIVIDADES" %}

  {% include "home/activities.html" with activities=data %}

  {% elif title == "aa" %}

  <p>Outra parada</p>

  {% endif %}

</main><!-- End #main -->

{% endblock %}