{% load static %}



<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="font-size: 50px; color: #17b08e;">Projetos</h2>
        <p>
          O Mymba mantém projetos que facilitam as ações dos protetores de animais. 
          Estes projetos incluem sistemas de base tecnológica que são <b>open source</b>, 
          ou seja, que possuem código aberto e disponível para que qualquer pessoa baixe, 
          estude e contribua com a melhoria do projeto. Além de ações pontuais que 
          estimulam os protetores a utilizarem a infraestrutura e recursos do Mymba
          para ajudar animais de rua.<br><hr><b>CONHEÇA NOSSOS PROJETOS:</b>
        </p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        {% if projects %}
        {% for project in projects %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">

              {% if project.image.url %}
              <img src="{{ project.image.url }}" class="img-fluid" alt="">
              {% else %}
              <img src="{% static 'assets/img/no-file-image' %}">
              {% endif %}

              <div class="portfolio-info">
                <h4>{{ project.name }}</h4>
                <p>{{ project.headline }}</p>
              </div>
              <div class="portfolio-links">
                <a href="projects/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        {% endfor %}
        {% endif %}

      </div>

      <p class="text-center">Botão para todos os projetos</p>

    </div>
  </section>
  <!-- End Portfolio Section -->