{% extends 'home/base.html' %}

{% load static %}

{% block title %}Mapa{% endblock %}

{% block link_home %}/#hero{% endblock %}
{% block link_about %}/#about{% endblock %}
{% block link_contact %}/#contact{% endblock %}
{% block link_getstarted %}/#about{% endblock %}

{% block main %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>E se você pudesse enxergar o cenário da proteção dos animais da região?</h1>
        <h2>No mapeamento comunitário do Mymba você pode. Veja abaixo <i class="bi-file-arrow-down-fill"></i></h2>
        <div class="row">
          <div><a href="#about" class="btn-get-started scrollto">Conheça o mapeamento</a></div>
        </div>
        
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="{% static 'feeder/assets/img/maps.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  
  <section id="about" class="about">
    
    <div class="container">

      <div class="row content">
        <h3 class="text-center"><b>Mapeamento comunitário</b></h3> 
        <p class="text-center">
          O Mymba é uma startup de impacto social que não atua apenas no mundo virtual, mas também manda bem no <b class="text-success">mundo real</b>!<br>
        </p>
      </div>

      <div class="row mt-5 align-items-center">

        <div class="col-lg-6 text-center" data-aos="fade-left">
          <img style="max-width: 450px;" src="{% static 'feeder/assets/img/apping-3.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>O mapeamento auxlia os protetores a entender o ecossistema de sua e outras regiões</h3>
          <p class="font-italic">
            Informações sobre diversas ações, projetos e sistemas do <b class="text-success">Mymba</b> são disponibilizadas de forma visual para você entender:
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              O ecossistema da sua região
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              Como você pode, com pouco recursos, ajudar a comunidade protetora de animais
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              Passa próximo a um comedouro quando sai do trabalho, estudo ou academia? Ajude depositando ração ou organizando o local
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              Onde depositar um pequeno esforço que se unirá ao esforço de outros para realizar algo grande
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              Onde estão os <b>Alimentadores Comunitários</b>
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              Futuras ações e projetos do Mymba
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </section>

  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Aonde está o mapeamento?</h2>
        <p>
          O sistema de mapeamento está sendo desenvolvido e entrará em funcionamento em breve junto com outras funcionalidades (: <br>
          Você pode acompanhar o desenvolvimento <a href="/open-source/">clicando aqui.</a>
        </p>
      </div>
    </div>
  </section>

</main><!-- End #main -->


{% endblock %}
