{% extends "home/base.html" %}

{% load static %}

{% block title %}Sobre{% endblock %}

{% block link_home %}/#hero{% endblock %}
{% block link_about %}/#about{% endblock %}
{% block link_contact %}/#contact{% endblock %}

{% block main %}

<section id="about-header" class="about-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Um texto pontual sobre o que é o Mymba</h1>
        </div>
    </div>
</section>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta temporibus, voluptate facilis, placeat
                quo repellendus officia non esse dolore perspiciatis commodi distinctio excepturi, nisi exercitationem?
                Sunt maiores odit officia quae!
            </p>
        </div>
    </div>
</section>


{% endblock %}