{% extends "home/base.html" %}

{% load static %}

{% block main %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Colaboração para levar dignidade aos animais de rua</h1>
        <h2>Para você, que também se importa (:</h2>
        <div><a href="#about" class="btn-get-started scrollto">Conheça o Mymba</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="{% static 'home/assets/img/home.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
          <img src="{% static 'home/assets/img/seila.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>Somos uma startup de impacto social que busca o bem estar para os animais de rua</h3>
          <p class="font-italic">
            Buscamos apoiar o ecossistema de proteção animal através da conexão entre o mundo real e digital
          </p>
          <ul>
            <li>
              <i class="fas fa-map-marked-alt"></i>
              Saiba onde estão os comedouros públicos da sua cidade
            </li>
            <li>
              <i class="fas fa-hand-point-right"></i>
              Sua simples ação impacta centenas de animais de rua
            </li>
            <li>
              <i class="fas fa-users"></i>
              Faça parte de um ecossistema digital inteligente
            </li>
          </ul>
          <a href="#features" class="read-more">Como fazemos isso<i class="bi bi-long-arrow-right"></i></a>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section  -->

  <!-- ======= About ecossystem protection Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content" data-aos="fade-right">
          <h3>Apoio ao ecossistema de <b>proteção animal</b></h3>
          <p class="font-italic">
            Os serviços e produtos criados pelo Mymba tem foco em apoiar o ecossistema de proteção 
            aos animais através do uso da infraestrutura de tecnologia do projeto:
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>
              Comedouros inteligentes
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              Mapeamento comunitário das ações dos aotres do ecossistema
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              Visibilidade ao ecossistema de proteção animal através da parceria com empresas do setor privado
            </li>
          </ul>
          <a style="background: #FF0085!important;" href="#contact" class="read-more text-center">Gostei!</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-1" data-aos="zoom-in" data-aos-delay="150">
          <img src="{% static 'home/assets/img/protection.png' %}" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section>
  <!-- End About Open Source Section  -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row counters">

        <div class="col-sm text-center">
          {% if data_activities %}
          <span data-purecounter-start="0" data-purecounter-end="{{ data_activities.count }}" data-purecounter-duration="2"
            class="purecounter"></span>
          {% else %}
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
            class="purecounter"></span>
          {% endif %}
          <p>Projetos</p>
        </div>

        <div class="col-sm text-center">
          {% if contributors %}
          <span data-purecounter-start="0" data-purecounter-end="{{ contributors }}" data-purecounter-duration="2"
            class="purecounter"></span>
          {% else %}
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
            class="purecounter"></span>
          {% endif %}
          <p>Protetores</p>
        </div>

        <div class="col-sm text-center">
          {% if data_activities %}
          <span data-purecounter-start="0" data-purecounter-end="{{ data_activities.count }}" data-purecounter-duration="1"
            class="purecounter"></span>
          {% else %}
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
            class="purecounter"></span>
          {% endif %}
          <p>Ações realizadas</p>
        </div>

      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 style="color: #11E3E0!important;">Sabe como fazemos tudo isso?</h2>
        <p>Através de uma plataforma que apoia o crescimento da comunidade de protetores</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
            <i class="m-2 fas fa-globe"></i>
            <h4>No mundo virtual e no real</h4>
            <p>A facilidade do mundo virtual contribuindo com a mudança no mundo real</p>
          </div>

          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="m-2 fas fa-map-marked-alt"></i>
            <h4>Mapeamento das ações</h4>
            <p>Nossa mapa mostra onde e o que está sendo feito para desenvolver o ecossistema de proteção animal</p>
          </div>

          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="m-2 fas fa-bone"></i>
            <h4>Comedouros públicos</h4>
            <p>Veja onde estão os comedouros públicos para cães de rua</p>
          </div>

          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="m-2 fas fa-shoe-prints"></i>
            <h4>Colabore a sua maneira</h4>
            <p>Entenda, através da plataforma, como você pode colaborar. Com pequenas ações você ajuda muito!</p>
          </div>

          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="m-2 fas fa-chart-line"></i>
            <h4>Estamos crescendo</h4>
            <p>
              E novas possibilidades surgem com a nossa evolução. Produtos e serviços que apoiarão o ecossistema estão
              saindo do forno
            </p>
          </div>
        </div>
        <div class="text-center image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
          <img src="{% static 'home/assets/img/features.png' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  {% if testemonials %}
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>O que a galera está achando:</h2>
      </div>

      <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          {% for testemony in testemonials %}

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ testemony.testimony }}
                <!-- Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. -->
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <!-- <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt=""> -->
              <img src="{{testemony.image.url}}" class="testimonial-img" alt="">
              <!-- <h3>Saul Goodman</h3> -->
              <h3>{{ testemony.name }}</h3>
              <!-- <h4>Ceo &amp; Founder</h4> -->
              <h4> {{ testemony.profession }} </h4>
            </div>
          </div><!-- End testimonial item -->

          {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  {% endif %}

  <!-- PROJETOS -->

  {% if data_activities %}

  {% include "home/activities.html" with activities=data_activities %}

  {% endif %}

  <!-- FIM PROJETOS -->

  {% if questions %}
  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>FAQ</h2>
        <p>
          Uma empresa privada que tem foco prioritário apoiar o ecossistema de protetores de animais?
          Como assim? Entenda uma pouco mais sobre o projeto Mymba
        </p>
      </div>

      <div class="faq-list">
        <ul>

          {% for question in questions %}

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i>
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-{{question.id}}" class="collapsed">
              {{ question.question }}
              <i class="bx bx-chevron-down icon-show"></i>
              <i class="bx bx-chevron-up icon-close"></i>
            </a>
            <div id="faq-list-{{question.id}}" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{ question.answer }}
              </p>
            </div>
          </li>

          {% endfor %}

        </ul>
      </div>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <a href="#contact" class="justify-content-center text-center" 
          style="color: #fff; border: 2px solid #fff; letter-spacing: 1px;
          padding: 10px 28px; border-radius: 5px; margin-top: 30px;">
            Outra dúvida? Manda ela pra gente (:
            <i class="bi bi-long-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    
  </section><!-- End Frequently Asked Questions Section -->

  {% endif %}

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Demonstre seu apoio (:</h2>
      </div>

      <div class="row align-items-center">

        <div class="col-lg-6 mb-3">
          <h3 class="text-center">Quer conversar sobre o projeto?</H3>
          <p class="text-center">Fale conosco em uma das nossas redes sociais</p>
          <div class="row justify-content-center">
            <div class="col text-center">
              <a href="https://www.facebook.com/Mymbaio-110005201439848" target="_BLANK">
                <i class="fab fa-facebook-f"></i> Facebook
              </a>
            </div>
            <div class="col text-center">
              <a href="https://www.instagram.com/mymba.io/" target="_BLANK">
                <i class="fab fa-instagram"></i> Instagram
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="/" method="post" role="form" class="php-email-form">
            <!--mudar o nome dessa classe pelo amor de deus.-->
            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == "success" %}
            <p style="color: #fff; background: #18d26e; text-align: center; padding: 15px; font-weight: 600;">
              {{ message }}
            </p>
            {% elif message.tags == "error" %}
            <p style="color: #fff; background: red; text-align: center; padding: 15px; font-weight: 600;">
              {{ message }}
            </p>
            {% endif %}
            {% endfor %}
            {% endif %}

            <div class="row">
              <div class="form-group text-center">
                <small style="color: #FF0085!important;"><b>Se você gostou do projeto, deixe seu contato para saber quando ele for iniciado</b></small>
              </div>
              <div class="col form-group mt-3">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nome completo" required>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Seu melhor e-mail"
                  required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="office" id="office" placeholder="Ocupação"
                  required>
              </div>
            </div>
            <div class="row mt-2">
              <small><b>*</b>Não tuilizaremos seus contatos para encaminhar propagandas.</small>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
            </div>
            <div class="text-center">
              <button type="submit">Adorei!</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}